page-details {

}
#title {
    width: 50%;
    float: left;
    position: relative;
    top: 18px;
}

#logo {
    float: right;
    width: 60px;
}

#label, #details {
    width: 49%;
}

.icon-down {
    width: 100%;
}

.icon-down, .icon-up {
    font-weight: bold;
    font-size: 15px;
}

.icon-down span, .icon-up span {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 11px;
    color: gray;
}

.icon-down {
    color: green;
}

.icon-up {
    color: red;
}

