<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title id="title">{{label}}</ion-title>
    <img id="logo" src='{{imageURL}}'>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="filterList($event)" placeholder="Pesquisar..."></ion-searchbar>
  </ion-toolbar>
<ion-segment [(ngModel)] = "marca">
	      <ion-segment-button value="modelo">
		 Modelos
	      </ion-segment-button>
	      <ion-segment-button value="ano">
		 Anos
	      </ion-segment-button>
	</ion-segment>
</ion-header>


<ion-content padding>
    

<div [ngSwitch]="marca">
    <ion-list *ngSwitchCase="'modelo'">
        <ion-item *ngFor="let data of carList">
              <div id="label">{{data.name}}</div>
              <div id="details">
                  <!--<ion-icon class='icon-down' ios="ios-arrow-round-down" md="md-arrow-round-down">
                        <span>{{data.menor_valor}}</span>
                  </ion-icon>
                  <ion-icon class='icon-up' ios="ios-arrow-round-up" md="md-arrow-round-up">
                      <span>{{data.maior_valor}}</span>
                  </ion-icon>-->
            </div>
            <button ion-button clear item-end (click)="yearsPage(data.id, data.name);">Detalhes</button>
        </ion-item>
    </ion-list>

<ion-list *ngSwitchCase="'ano'">
	<ion-item *ngFor="let data of yearList">
              <div id="label">{{data.Label}}</div>
            <button ion-button clear item-end (click)="modelsPage(data.Value);">Detalhes</button>
        </ion-item>
</ion-list>
</div>
</ion-content>
